.articleform{
    margin: 0 auto;
    width: 97%;
    max-width: 860px;
    padding: 2em;
    background: white;
    background:  white;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #cecece;
    box-shadow: 1px 1px 0px #c2c2c2;
    border-radius: 3px;
}

input{
    height: 40px;
    width: 90%;
    border-radius: 3px;
    padding: 8px 8px 7px;
    margin-left: -4px;
    resize: none;
    border: 0;
    font-size: 16px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: bold;
    background: #f5f6f7;
}
textarea{
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    resize:none;
    border:0px;
    border-radius: 3px;
    width: 92%;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color: white;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    border-image: initial;
    padding: 2px;
    background: #f5f6f7;
}