.post-item{
    text-align: left;
    margin: 10px auto;
    width: 100%;
    position: relative;
    max-width: 750px;
    padding: 20px;
    border:1px solid lightgray;
    background: white;
    box-shadow: 1px 1px 0px gray;
    border-radius: 3px;
    cursor: pointer;

}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background: #f5f6f7;
    background: #f5f6f7;
    font-size: 14.5px;
    border: 0px;
    border-radius: 113px;
    box-shadow: 2px 2px 8px #bababa;
    box-shadow: 2px 2px 8px #bababa;
    padding: 6px 13px;
    display: inline-block;
    text-align: center;
    color: #666666;
    color:  #666;
    white-space: nowrap;

}