/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
  }
  html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
body
.container{
	background-image: url('https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family:"WenQuanYi Zen Hei","\u6587\u6cc9\u9a5b\u6b63\u9ed1","PingFang TC","PingFang SC","Heiti TC","\u9ed1\u9ad4\u002d\u7e41","LiHei Pro","\u5137\u9ed1\u0020\u0050\u0072\u006f","Droid Sans","Roboto","Microsoft JhengHei","\u5fae\u8edf\u6b63\u9ed1\u9ad4";
}
.wrapper{
	margin: 10em 10em 0 10em;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:25% 25% 25% 25%;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr;
}

.box{
	background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
	color:white;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden; 
	transition: all 0.2s ease-out;
	position: relative;
}
.box:hover { 
	opacity: 1 ;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
	transform:scale(1.1,1.1);
}
.avatar{
	display:inline-flex;
	width:3em;
	height:3em;
	border-radius: 50%;
	margin: 5px;
}
.preview{
	width: 100%;
}
.info{
	display: flex;
}
.title{
	margin: 5px;
	line-height: 1.5em;
	font-size: 0.8em;
}
h2{
	overflow: hidden;
}
.updateButton{
	grid-column: 1/5;
	width: 10em;
	height: 3em;
	margin: 30px auto;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: none;
	outline: none;
	border-radius: 3px;
	transition: .4s;
	background: #0f6ca7;
}
.updateButton:hover {
	background: #67c5ff;
	color: white;
}
@media (max-width: 767px){
.container{
		width: 100%;
}
.wrapper{
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows:auto;
			margin: 1em ;
}

.box{
		opacity: 1 ;
		box-shadow: 0 1px 6px rgba(0, 0, 0, .2);

}

}
@media (min-width: 768px) and (max-width: 1025px){
.wrapper{
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:auto;
		margin: 2em ;
}
.box{
	opacity: 1 ;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}
}
